name: Build and Checks

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  checks:
    if: github.repository_owner == 'viamrobotics'
    runs-on: buildjet-4vcpu-ubuntu-2204
    steps:
      - name: Checkout PR/Push/Workflow Dispatch
        uses: actions/checkout@v2
      - name: Setup Rust toolchain
        run: rustup toolchain install stable --profile minimal --component clippy
      - name: Run Clippy
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          components: clippy
      - name: Run Clippy
        uses: actions-rs/clippy-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          args: --all-features
      - name: Build
        uses: actions-rs/cargo@v1
        with:
          command: build
