name: Run tests

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    if: github.repository_owner == 'viamrobotics'
    runs-on: buildjet-4vcpu-ubuntu-2204
    container:
      image: ghcr.io/viamrobotics/canon:amd64-cache
    steps:
      - name: Checkout PR/Push/Workflow Dispatch
        uses: actions/checkout@v3
      - name: Setup Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
      - name: Run tests
        run: |
          apt-get -y install lsof
          make test
